.add-item-form-page {
    font-family: var(--font-family);
}
form {
    margin-top: 3rem;
    color: var(--secondary-color);
}
.form-h {
    margin-top: 1rem;
    color: var(--secondary-color);
}
.add-item-form-page {
    display: flex;
    flex-direction: column;
}
.add-item-form-page button {
    padding: 0.5rem 1rem;
    border: 1px solid #434242;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--tertiary-color);
}
.add-item-form-page input {
    padding: 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    color: var(--secondary-color);
    /* margin-bottom: 2rem; */
}
.radio-input {
    margin-bottom: 3rem;
}
.add-item-form-page label {
    margin: 20px;
}
.warning-text {
    color: rgb(159, 77, 77);
    margin:0;
    visibility: hidden;
    margin-bottom: 2rem;
}
input:invalid + .warning-text {
    visibility: visible;
}