/* .header-box {
    display: flex;
    width: 800px;
} */
.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    color: var(--tertiary-color);
    font-size: 1.1rem;
}
.cart-cards-displayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.bottom-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
}
.buy-text-cart-view {
    text-decoration: none;
    color: inherit;
}
.bottom-container button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 0.5rem 2rem;
    border: 1px solid #434242;
    border-radius: 10px;
    margin-bottom: 1rem;
}
