/* .header-box {
    display: flex;
    width: 800px;
} */
.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-size: 1.1rem;
}
.cart-cards-displayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.bottom-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    flex-grow: 1;
}
.bottom-container button {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 0.5rem 2rem;
    border: 1px solid #434242;
    border-radius: 10px;
}
