.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.cart-cards-displayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.bottom-container {
    width: 100%;
}