#root {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

* {
	box-sizing: border-box;
}
/* html {
    margin: 0 auto;
} */

body {
    display: flex;
	flex-direction: row;
	background-color: rgb(132, 131, 131);
	color: rgb(255, 255, 255);
	line-height: 1.35rem;
	padding: 0;
    width: 100vw;
	/* max-width: 800px; */
}
