#root {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	height: 100vh;
}
:root {
	--background-color: #ffbe0b;
	--primary-color: #fb5607;
	--secondary-color: #8338ec;
	--tertiary-color: #f7ede2;
	--font-family: "Chicle", serif;
} 

* {
	box-sizing: border-box;
}
/* html {
    margin: 0 auto;
} */

body {
    display: flex;
	flex-direction: row;
	background-color: var(--background-color);
	color: var(--tertiary-color);
	line-height: 1.35rem;
	padding: 0;
    width: 100vw;
	/* max-width: 800px; */
}
