/* - Reset - */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
p,
a,
ul,
li {
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* body {
	background: var(--main-color);
} */

/* Button reset */
button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	
}

&::-moz-focus-inner {
	border: 0;
	padding: 0;
}